$like-rotate: rotate(30deg);
$reject-rotate: rotate(-30deg);



.paperLandingPage{
    opacity: .9;
}

.LandingPageOverLay{
    &Liked{
        position: absolute; 
        width: 100%;
        justify-content: center;
    transform: $like-rotate;
    text-transform: uppercase;
    color: rgb(224, 95, 95)
    }

    &Reject{
        position: absolute; 
        width: 100%;
        justify-content: center;
        transform: $reject-rotate;
        text-transform: uppercase;
        color: rgb(58, 53, 53);
    }
}


.show{
    display: flex;
}

.hidden{
    display: none;
}

.LandingPage{
    padding: 0.5rem 0.5rem;
    align-items: center;
    text-align: center;
    &LikeBtn{
        color: rgb(224, 95, 95);
    }


    &IdeaGrid{
        padding-left: 1.5rem !important;
        padding-right: 1rem;
    }

    &ImgBox{
        display: flex;
        justify-content: center;
    }


    &ImgBox > div{
        border-radius: 0.5rem;
        box-shadow: 0 0 0 0 rgb(129, 219, 247);
        animation: pulse 2s infinite;
    }
    
    &Img{
        border-radius: 0.5rem;
    }
    &BtnGrid{
        margin-top: 1rem !important;

    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(129, 219, 247);
        }
    
        70% {
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
    
        100% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }
}
