.myCard{
    &IdeaInfo{
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    
    &IdeaInfo:hover{
        white-space: normal;
        overflow: visible;
    }

    &CardAction{
       flex-direction: row-reverse;
    }
}

