@import "~bootstrap/scss/bootstrap";




.app{
    padding-bottom: 0.4rem;
    margin-bottom: 2rem;
    &LandingPageContainer{
        height: 50rem;
        display: flex !important;
        justify-content: center;
        padding: 0 !important;
        margin-top: 2rem;
    }
}